<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConcurrentProgram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>015DAB9C1EA4A33E002013A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>015DABB51EA4A33F002013A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>015DABC01EA4A33F002013A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
